.green-btn {
    background-color: var(--green) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--green) !important;;
    border-radius: 16px !important;
    color: var(--black) !important;
    margin-right: 1rem;
}

.green-btn:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--darker-green) !important;
}

.red-btn {
    background-color: var(--red) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--red) !important;
    border-radius: 16px !important;
    color: var(--black) !important;
    margin-right: 1rem;
}

.red-btn:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--darker-red) !important;
}

.orange-btn {
    background-color: var(--orange) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--orange) !important;
    border-radius: 16px !important;
    color: var(--black) !important;
    margin-right: 1rem;
}

.orange-btn:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--darker-orange) !important;
}
