.container {
    width: 60%;
    margin: auto;
    background-color: pink;
    box-shadow: 100px black;
    border-radius: 20px;
    padding: 20px;
}

.container Col {
    width: auto;
    margin: auto;
    vertical-align: middle;
}

.container p{
    text-align: left;
    vertical-align: middle;
}

.title {
    margin-top: 10px;
    text-align: center;
}

.icon {
    margin-left: 560px;
}

